body {
    height: 100%;
    width: 100%;
}
.logo {
    float: left;
    color:5px solid black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size:10px; 
    line-height: 25px;
    border-radius: 4px;
    background-color:blue;
    margin:top ;
  }
  ul{
    list-style-type: none;
    margin:0; 
    padding: top;
    overflow: hidden;
    background-color: purple;
}
li{
    float:right;
}
li a{
    display: block;
    color:black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 2em;
}
li a:hover{
    background-color: darkorange;
}
.container >ul>li:a{
    position:fixed;
}
#paragraph{
    display: flex;
    justify-content: center;
    font-size: bold;
}
#profile{
    display:flex;
    justify-content: center;
    background-color:white;
}
.about{
    text-align: center;
}
#last{ display: flex;
    justify-content: center;
    font-size:70px;

}
footer {
    text-align: center;
    background:purple;
    width: 100%;
    margin-bottom: 0;
   
}nav ls{
    background-color: paleturquoise;
}

img{
    border-radius:30px;
}
footer{
    border-radius:30px;
}
.logo{
    border-radius:30px;
}
    
ul{
    border-radius:30px;
}
footer a{
    color:black;
    color:bright;
}
nav ul {
    color:black;
    color:bright;
}
#sign{
    text-align: center;
}
#sign{
    padding-bottom:20px;
    margin-bottom :20px;
}
.blog{
    text-align: center;
    font-size: 2em;
    color:black;
}
.project{
    text-align: center;
    color:black;
    font-size: 2em;
}
.about{
    font-size: 2em;
    color: black;
}
#paragraph{
    font-size: 2em;
    color: black;
}
.logo h1{
    justify-content: center;
}
.blog p{
    background-color:solid purple;
    color: black;
    border-radius: 30px;
}
button:hover{
    background-color: black;
    color: white;
    font-size: 20px;
}
.about{
    background-color:white;
    width: 1000px;
    border: 15px solid purple;
    padding: 100px;
    margin-left:300px;
    text-align: center;
    font-size: 30px;
    margin-top:50px;
    font-size: 2em;
  }
  .para2{
    background-color:white;
    width: 1000px;
    border: 15px solid purple;
    padding: 100px;
    margin-left:300px;
    text-align: center;
    font-size: 30px;
    margin-top:50px;
    font-size: 2em;
  }
  
  .container{
    background-color:white;
    width: 1000px;
    border: 15px solid purple;
    padding: 100px;
    margin-left:300px;
    text-align: center;
    font-size: 30px;
    margin-top:50px;
    font-size: 2em;
  }
  .blog{
    background-color:white;
    width: 1000px;
    border: 15px solid purple;
    padding: 100px;
    margin-left:300px;
    text-align: center;
    font-size: 30px;
    margin-top:50px;
    font-size: 2em;
  }
  .project{
    background-color:white;
    width: 1000px;
    border: 15px solid purple;
    padding: 100px;
    margin-left:300px;
    text-align: center;
    font-size: 30px;
    margin-top:50px;
    font-size: 2em;
  }
  
  


  

  
